<?xml version="1.0" encoding="UTF-8" ?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config" status="info" strict="true"
               monitorInterval="10" name="tdd">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" >
                <Pattern>%m%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info" >
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>